body {
  background-image: url("/public/aesthetic-background-with-greek-bust.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.2rem/1.4 Georgia, serif;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.7;
}

.quote {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  max-width: 600px;
}

.quote-content {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
}

figcaption {
  font-size: 18px;
}

.next-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45a049;
}
